<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="skill-list-skill-component">
  <template>
    <style>
      table {
        width: 100%;
      }
      th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      tr:hover {
        background-color: #f5f5f5;
      }
      .persona {
        font-weight: bold;
        font-size: 1.2em;
      }
      .posicion {
        font-style: italic;
      }
      img{
        cursor:pointer;
        width:40px;
        height: auto;
        vertical-align: middle;
      }
      .icon {
        cursor: pointer;
      }
    </style>
    <h3>Mostrando resultados de [[txtsearch]]</h3>
    <table>
      <tbody>
        <template is="dom-repeat" items="{{skillsmaster}}">
          <tr>
            <td><div class="body-copy">{{item.descripcion_skill}}</div></td>
            <td><div class="body-copy">{{item.detalle_skill}}</div></td>
            <td>
              <div>
                <a href="#"></a>
                <paper-button dialog-confirm on-click="selectSkill">
                  <iron-icon icon="iconos-web:bbva-add-skill"></iron-icon>
                </paper-button>
              </div>
            </td>
          </tr>
        </template>
      </tbody>
    </table>

    <iron-ajax auto
      id="getSkills"
      url="https://skilldev-app.herokuapp.com/skill?limit=10&page=1&parametro={{txtsearch}}"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SkillListSkillComponent extends Polymer.Element {
      static get is() { return 'skill-list-skill-component'; }
      static get properties() {
        return {
          txtsearch: {
            type: String
          },
          skillsmaster: {
            type: Array,
            value:[]
          }
        };
      }
      showData(data) {
        this.skillsmaster = data.detail.response;
      }

      selectSkill(e) {
        this.dispatchEvent(
          new CustomEvent(
            "selectskillevent",
            {
              "detail" : {
                "skill" : e.model.item
              }
            }
          )
        );
      }
    }

    window.customElements.define(SkillListSkillComponent.is, SkillListSkillComponent);
  </script>
</dom-module>
