<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<dom-module id="skill-list-employee-component">
  <template>
    <style>
      table {
        width: 100%;
      }
      th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      tr:hover {
        background-color: #f5f5f5;
      }
      .persona {
        font-weight: bold;
        font-size: 1.2em;
      }
      .posicion {
        font-style: italic;
      }
      img{
        cursor:pointer;
        width:40px;
        height: auto;
        vertical-align: middle;
      }
      .icon {
        cursor: pointer;
      }
    </style>
    <h3>Mostrando resultados de [[txtsearch]]</h3>
    <table>
      <tbody>
        <template is="dom-repeat" items="{{empleados}}">
          <tr>
            <td><div class="body-copy">{{item.nombres}} {{item.apellido_paterno}} {{item.apellido_materno}} [{{item.registro}}]</div></td>
            <td><div class="body-copy">{{item.building_block}}</div></td>
            <td>
              <div>
                <iron-icon icon="iconos-web:bbva-employee-skills" on-click="verSkills" title="ver Skills" class="icon"></iron-icon>

                <iron-icon icon="iconos-web:bbva-employee-projects" on-click="verProyectos" title="ver Proyectos" class="icon"></iron-icon>
              </div>
            </td>
          </tr>
        </template>
      </tbody>
    </table>

    <iron-ajax auto
      id="getPersons"
      url="https://skilldev-app.herokuapp.com/persona?limit=10&page=1&nombres={{txtsearch}}"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SkillListEmployeeComponent extends Polymer.Element {
      static get is() { return 'skill-list-employee-component'; }
      static get properties() {
        return {
          txtsearch: {
            type: String
          },
          empleados: {
            type: Array,
            value:[]
          }
        };
      }
      showData(data) {
        this.empleados = data.detail.response.docs;
      }

      verSkills(e) {
        document.querySelector('my-app').set('route.path', '/personas/'+e.model.item.registro);
        this.dispatchEvent(
          new CustomEvent(
            "selectpersonevent",
            {
              "detail" : {
                "persona" : e.model.item
              }
            }
          )
        );
      }
      verProyectos(e) {
        document.querySelector('my-app').set('route.path', '/personas/'+e.model.item.registro);
        this.dispatchEvent(
          new CustomEvent(
            "selectpersonforprojectsevent",
            {
              "detail" : {
                "persona" : e.model.item
              }
            }
          )
        );
      }
    }

    window.customElements.define(SkillListEmployeeComponent.is, SkillListEmployeeComponent);
  </script>
</dom-module>
