<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/src/skill-stars-rating-component/skill-stars-rating-component.html">

<dom-module id="skill-list-employee-skill-component">
  <template>
    <style>
      table {
        width: 100%;
      }
      th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      tr:hover {
        background-color: #f5f5f5;
      }
      .persona {
        font-weight: bold;
        font-size: 1.2em;
      }
      .posicion {
        font-style: italic;
      }
    </style>
    <h3>Mostrando resultados de [[txtsearch]]</h3>
  <table>
    <tbody>
      <template is="dom-repeat" items="{{empleados}}">
        <tr>
          <td><div class="persona">{{item.nombres}} {{item.apellido_paterno}} {{item.apellido_materno}} [{{item.registro}}]</div>
            <br>
            <div class="posicion">{{item.unidad}}/{{item.disciplina}}</div></td>

          <td>
            <div>
              <skill-stars-rating-component
                id="stars-group-general-{{item.registro}}"
                rating="{{item.rating}}"
                disabled="true"
                title="{{item.rating}}"
              ></skill-stars-rating-component>
            </div>
          </td>
          <!-- <td>
            <iron-icon icon="iconos-web:bbva-percentage"></iron-icon>
            <div class="body-copy">{{item.asignacion}}</div>
          </td> -->
          <td>
            <div>
              <iron-icon icon="iconos-web:bbva-employee-skills" on-click="verSkills" title="ver Skills" class="icon"></iron-icon>

              <iron-icon icon="iconos-web:bbva-employee-projects" on-click="verProyectos" title="ver Proyectos" class="icon"></iron-icon>
            </div>
          </td>
        </tr>
      </template>
    </tbody>
  </table>

  <iron-ajax auto
    id="getPersonsBySkills"
    url="https://skilldev-app.herokuapp.com/personaskill?limit=10&page=1&skill={{txtsearch}}"
    handle-as="json"
    on-response="showData"
  >


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SkillListEmployeeSkillComponent extends Polymer.Element {
      static get is() { return 'skill-list-employee-skill-component'; }
      static get properties() {
        return {
          empleados: {
            type: Array,
            value:[]
          }
        };
      }

      verSkills(e) {
        document.querySelector('my-app').set('route.path', '/personas/'+e.model.item.registro);
        this.dispatchEvent(
          new CustomEvent(
            "selectpersonevent",
            {
              "detail" : {
                "persona" : e.model.item
              }
            }
          )
        );
      }
      verProyectos(e) {
        document.querySelector('my-app').set('route.path', '/personas/'+e.model.item.registro);
        this.dispatchEvent(
          new CustomEvent(
            "selectpersonforprojectsevent",
            {
              "detail" : {
                "persona" : e.model.item
              }
            }
          )
        );
      }

      showData(data) {
        var personas = data.detail.response.docs;
        var persona = null;

        for (var i = 0; i < personas.length; i++) {
          var sumRating = 0;
          var countRating = 0;
          for (var sk = 0; sk < personas[i].skills.length; sk++) {
            if (personas[i].skills[sk].nivel_ingresado >= 0) {
              countRating++;
              sumRating += parseInt(personas[i].skills[sk].nivel_ingresado,10);
            }
          }
          personas[i].rating = sumRating / countRating;
        }
        this.empleados = Array.from(personas);
      }
    }

    window.customElements.define(SkillListEmployeeSkillComponent.is, SkillListEmployeeSkillComponent);
  </script>
</dom-module>
