<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="skill-login">
  <template>
    <style>
      :host {
        display: block;
        left: 25%;
        width: 33%;
        top: 8%;
        position: absolute;
        padding:0 1em 1em 1em;
        --app-primary-color: #072146;
        --app-secondary-color: black;
        --white-color:white;
        --primary-color:#028484;
        --primary-text-color:white;
        --secondary-text-color:white;
        --paper-input-container-shared-input-style_-_background:transparent;

      }

      input:-internal-autofill-previewed{
        background:transparent;
      }

      .wrapper-btns {
        margin-top: 15px;
      }

      paper-button.link {
        color: #00d2c8;
        cursor:pointer;
      }

      paper-button{
        background: #028484;
        cursor: pointer;
      }

      .login-box {
        margin: 20px;
        padding-top: 50px;
        padding-right: 100px;
        padding-bottom: 50px;
        padding-left: 80px;
        color: var(--white-color);
        border-radius: 5px;
        background: linear-gradient(90deg, rgba(7,33,70,1) 0%, rgba(16,72,122,1) 65%, rgba(2,132,132,1) 100%);
        zoom: 95%;
        background-color: #fff;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
                  0 1px 18px 0 rgba(0, 0, 0, 0.12),
                  0 3px 5px -1px rgba(0, 0, 0, 0.4)
      }

      paper-input-container {
        padding-top: 0px;
        padding-bottom: 20px;
      }

      input::-webkit-input-placeholder{
        color:var(--white-color);
      }

      input {
        position: relative;
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        min-width: 0;
        font-family: var(--paper-font-subhead_-_font-family);
        -webkit-font-smoothing: var(--paper-font-subhead_-_-webkit-font-smoothing);
        font-size: var(--paper-font-subhead_-_font-size);
        font-weight: var(--paper-font-subhead_-_font-weight);
        line-height: var(--paper-font-subhead_-_line-height);
      }
    </style>

    <div class="login-box" id="login-box">
      <div id="idLogin">
        <!--<h1>Skill's App</h1>-->
        <img src="{{imgLogo}}"><br>
        <strong>Skill App</strong> Inicie sesión.
        <paper-input-container>
          <label slot="input">Registro</label>
          <iron-input slot="input" bind-value="{{formData.registro}}">
            <input id="username" type="text"  placeholder="Registro">
          </iron-input>
        </paper-input-container>
        <paper-input-container>
          <label>Constraseña</label>
          <iron-input slot="input" bind-value="{{formData.password}}">
            <input id="password" type="password"  placeholder="Constraseña">
          </iron-input>
        </paper-input-container>
        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="postLogin">Ingresar</paper-button>
          <paper-spinner alt="Cargando..." active="[[cargando]]"></paper-spinner>
          <template is="dom-if" if="[[error]]">
              <p class="alert-error">[[error]]</p>
          </template>
        </div>
      </div>
      
      <iron-ajax id="registerLoginAjax" method="post" content-type="application/json" handle-as="text"
        on-response="handleUserResponse" on-error="handleUserError" loading="{{cargando}}">
      </iron-ajax>
    </div>

  </template>
  <script>
    class SkillLogin extends Polymer.Element {
      static get is() { return 'skill-login'; }

      static get properties() {
        return {
          formData: {
            type: Object,
            value: {}
          },
          imgLogo: {
                type: String,
                value: function() {return this.resolveUrl('../../images/Logo_bbva.png')}
            },
          logged:{
              type:Boolean,
              value:"",
              notify:true,
              reflectToAttribute:true
            },  
          storedUser: Object,
          error: String
        }
        
      }

      _setReqBody() {
        this.$.registerLoginAjax.body = this.formData;
      }

      postLogin() {
        this.error="";
        var uri=document.querySelector("my-app").uriBase+'/login';
        this.$.registerLoginAjax.url = uri;
        this._setReqBody();
        this.$.registerLoginAjax.generateRequest();
      }


      handleUserResponse(event) {
        var response = JSON.parse(event.detail.response);
        localStorage.setItem('token', response.token);
        //Oculta login
        document.querySelector("my-app").root.children[4].remove("skill-login")

        //Muestra dashboard
        document.querySelector("my-app").root.children[3].removeAttribute("class");
        document.querySelector("my-app").root.children[3].setAttribute("style","display:inline");
        document.querySelector("my-app").root.children[3].children[1].$.contentContainer.setAttribute('style','padding-top: 64px;');
        /*
        if (response.id_token) {
          this.error = '';
          this.storedUser = {
            name: this.formData.username,
            id_token: response.id_token,
            access_token: response.access_token,
            loggedin: true
          };
        }
        */
        // reset form data
        this.formData = {};
      }

      handleUserError(event) {
        this.error = JSON.parse(event.detail.request.xhr.response).mensaje;
      }

    }

    window.customElements.define(SkillLogin.is, SkillLogin);
  </script>
</dom-module>
