<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/src/skill-stars-rating-component/skill-stars-rating-component.html">
<link rel="import" href="/src/skill-list-skill-component/skill-list-skill-component.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="my-project-person">

    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }
            a.card, div.card {
                margin-bottom: 32px;
                width: calc(100% - 64px);
            }
            .img-user{
                cursor:pointer;
                width:30%;
                height: auto;
                vertical-align: middle;
            }
            table {
              width: 100%;
            }
            th, td {
              padding: 15px;
              text-align: left;
              border-bottom: 1px solid #ddd;
            }
            tr:hover {
              background-color: #f5f5f5;
            }
            .persona {
              font-weight: bold;
              font-size: 1.2em;
            }
            .posicion {
              font-style: italic;
            }
            /* The Modal (background) */
            .modal {
              /*display: none;  Hidden by default */
              position: fixed; /* Stay in place */
              z-index: 100; /* Sit on top */
              left: 0;
              top: 0;
              width: calc(100% - 10px); /* Full width */
              height:calc(100%);/* Full height */
              /*overflow: auto; /* Enable scroll if needed */*/
              background-color: rgb(0,0,0); /* Fallback color */
              background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
              margin: 0 0 0 0;
              padding: 64px 0px 0px 256px;
              overflow: scroll;
            }
            .contenidomodal {
              background-color: #FFFFFF;
            }
            .icon {
              cursor: pointer;
            }
            .titulo-skills {
              color: #C0475E;
              font-size: 2em;
              font-weight: bold;
            }
            .alignleft {
            	float: left;
            }
            .alignright {
            	float: right;
            }

        </style>
        <div>
          <div class="titulo-skills alignleft">Proyectos</div>
            <br>
            <br>
        </div>
        <hr>

      <table id="tabladatosproyectos">
        <tbody>
          <template is="dom-repeat" items="{{projects}}" as="item" >
            <tr>
              <td colspan="2"><div class="persona">{{item.proyecto}}</div>
                <div class="posicion">{{item.mvp}}</div>
                <br>
                <div>
                    <iron-icon icon="iconos-web:bbva-wiki-metrics" title="Equipo"></iron-icon>
                    <span style='margin-right:1.25em; display:inline-block;'>&nbsp;</span>
                    <span class="posicion">{{item.equipo}}</span>
                    <br>
                    <iron-icon icon="iconos-web:bbva-profile" title="Perfil"></iron-icon>
                    <span style='margin-right:1.25em; display:inline-block;'>&nbsp;</span>
                    <span class="posicion">{{item.perfil}}</span>
                    <br>
                    <iron-icon icon="iconos-web:bbva-staffing" title="Porcentaje"></iron-icon>
                    <span style='margin-right:1.25em; display:inline-block;'>&nbsp;</span>
                    <span class="posicion">{{item.asignacion}}</span>
                </div>
              </td>
            </tr>
          </template>
        </tbody>
      </table>

      <iron-ajax auto
        id="getProjects"
        url="https://skilldev-app.herokuapp.com/personaprojects/{{persona.registro}}"
        handle-as="json"
        on-response="showDataProjects">
      </iron-ajax>


    </template>
    <script>
        class MyProjectPerson extends Polymer.Element {
            static get is() {
                return 'my-project-person';
            }
            static get properties() {
                return {
                  persona: {
                      type: Object
                  },
                  registro: {
                      type: String
                  },
                  projects: {
                    type: Array,
                    reflectToAttribute: true,
                    notify: true,
                    value: []
                  }
                };
            }

            showDataProjects(data) {
              this.projects = data.detail.response.proyectos;
            }
        }
        window.customElements.define(MyProjectPerson.is, MyProjectPerson);
    </script>
</dom-module>
