<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="skill-find-component">
  <template>
  <style include="shared-styles">
    :host {
      display: block;
    }
  </style>

    <div class="form__item input__wrapper" style="width:80%; margin-left: 10px; margin-right: 20px;">
        <input id="txtsearch" style="width:60%;" class="textfield input--height-48"
        value="{{texto}}" type="text" name="Username" placeholder="escriba el texto a buscar">
        <label for="white_background_textfield48_1" class="input__label">Buscar [[texto]]</label>
        <div class="ui-wrong input__error-msg">ERROR MESSAGE</div>
        <a on-click="sendEvent" class="button button--primary button--short" title="active" role="button" style="width:20%">Buscar</a>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SkillFindComponent extends Polymer.Element {
      static get is() { return 'skill-find-component'; }
      static get properties() {
        return {
          texto: {
            type: String
          }
        };
      }

      sendEvent(e) {
        this.texto = this.$.txtsearch.value;
        this.dispatchEvent(
          new CustomEvent(
            "searchevent",
            {
              "detail" : {
                "txtsearch" : this.texto
              }
            }
          )
        );
      }
    }

    window.customElements.define(SkillFindComponent.is, SkillFindComponent);
  </script>
</dom-module>
