<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="./my-infopersona.html">
<link rel="import" href="../skill/my-skillpersona.html">
<link rel="import" href="../project/my-project-person.html">

<dom-module id="my-detapersona">

    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }
            a.card, div.card {
                margin-bottom: 32px;
                width: calc(100% - 55px);
            }
            .bloque-100 {
                width: 100%;
                display: block;
            }
            .bloque-50{
                padding : 1%;
                width: 45%;
                display: inline-block;
            }
            p {
                background-color: #ccc;
            }

            .left {
                float: left;
                width: 50%;
            }
            .right {
                float: right;
                width: 50%;
            }
            .group:after {
                content:"";
                display: table;
                clear: both;
            }
            @media screen and (max-width: 480px) {
                .left, .right {
                    float: none;
                    width: auto;
                }
            }

        </style>
        <div class="card group">
          <div class="left"><my-infopersona></my-infopersona></div>
          <div class="right"><my-skillpersona hidden$="{{!mostrarskills}}"></my-skillpersona></div>
          <div class="right"><my-project-person hidden$="{{!mostrarproyectos}}"></my-project-person></div>
        </div>
    </template>
    <script>
        class MyDetapersona extends Polymer.Element {
            static get is() {
                return 'my-detapersona';
            }
            static get properties() {
                return {
                    persona: {
                        type: Object
                    },
                    mostrarproyectos: {
                        type: Boolean,
                        value: false
                    },
                    mostrarskills: {
                        type: Boolean,
                        value: false
                    },
                    imgUserM: {
                        type: String,
                        value: function() {return this.resolveUrl('../../images/user.png')}
                    }
                };
            }
        }
        window.customElements.define(MyDetapersona.is, MyDetapersona);
    </script>
</dom-module>
