<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<dom-module id="my-infopersona">

    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }
            .img-user{
                cursor:pointer;
                width:30%;
                height: auto;
                vertical-align: middle;
            }
            .nombre {
              font-weight: bold;
              font-size: 1.4em;
              font-style: italic;
            }
            .bloque {
              font-weight: bold;
              font-size: 1.2em;
              font-style: italic;
            }
            .registro {
              font-size: 1em;
            }
            .techu {
              font-size: 1em;
            }
            .center {
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 50%;
            }
            .subtitulo {
              font-weight: bold;
              font-size: 0.8em;
              margin-bottom: 1em;
            }

        </style>
        <div>
          <img src="{{imgUserM}}" class="img-user center" alt="usuario" title="usuario">
          <hr class="dividers__line--whiteBg">
          <div class="nombre">{{persona.nombres}} {{persona.apellido_paterno}} {{persona.apellido_materno}}</div>
          <div class="bloque">{{persona.building_block}}</div>
          <hr class="dividers__line--whiteBg">
          <div class="subtitulo">DETALLE</div>
          <div class="registro">
            <iron-icon icon="iconos-web:bbva-register" title="Identificación"></iron-icon>
            <span style='margin-right:1em; display:inline-block;'>&nbsp;</span>
            {{persona.registro}}
          </div>
          <div class="registro">
            <iron-icon icon="iconos-web:bbva-team" title="Bloque/Equipo"></iron-icon>
            <span style='margin-right:1em; display:inline-block;'>&nbsp;</span>
            {{persona.unidad}}/{{persona.disciplina}}
          </div>
          <hr class="dividers__line--whiteBg">
          <div class="subtitulo">FORMACIÓN</div>
          <div class="techu">
            <iron-icon icon="iconos-web:bbva-education" title="TechU!"></iron-icon>
            <span style='margin-right:1em; display:inline-block;'>&nbsp;</span>
            {{persona.nivel_techu}}
          </div>
          <div class="techu">
            <iron-icon icon="iconos-web:bbva-ninja" title="Puntos Ninja"></iron-icon>
            <span style='margin-right:1em; display:inline-block;'>&nbsp;</span>
            1350
          </div>
          <div class="techu">
            <iron-icon icon="iconos-web:bbva-bit-token" title="Bit tokens"></iron-icon>
            <span style='margin-right:1em; display:inline-block;'>&nbsp;</span>
            0
          </div>
        </div>
    </template>
    <script>
        class MyInfopersona extends Polymer.Element {
            static get is() {
                return 'my-infopersona';
            }
            static get properties() {
                return {
                    imgUserM: {
                        type: String,
                        value: function() {return this.resolveUrl('../../images/user.png')}
                    },
                    persona: {
                      type: Object
                    }
                };
            }
            inicializa() {
              this.persona = document.querySelector("my-app").root.querySelector("my-view1").personaSeleccionada;
            }
        }
        window.customElements.define(MyInfopersona.is, MyInfopersona);
    </script>
</dom-module>
