<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<!--Bower's import-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="my-icons.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">

<link rel="lazy-import" href="my-view1.html">
<link rel="lazy-import" href="my-view2.html">
<link rel="lazy-import" href="my-view3.html">
<link rel="lazy-import" href="my-view404.html">

<!--Import personalizado-->
<link rel="import" href="login/skill-login.html">
<link rel="import" href="persona/my-detapersona.html">

<dom-module id="my-app">
  <template >
    <style>
      :host {
        --app-primary-color: #072146;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: white;
        font-weight: bold;
        cursor: pointer;
      }

      .hide-by-access{
        display:none;
      }

      .cerrar-sesion{
            cursor:pointer;
            width:35px;
            height: auto;
            vertical-align: middle;
          }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}" class$="{{_verifica()}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>
          <img src="{{imgLogo}}">
        </app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="personas" href="[[rootPath]]personas">Personas</a>
          <a name="skills" href="[[rootPath]]skills">Skills</a>
          <a name="personas-skills" href="[[rootPath]]personas-skills">Personas-Skills</a>
          <!--<a name="detapersona" href="[[rootPath]]detapersona">Empleados-Skills</a>-->
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar >
            <paper-icon-button icon="c:menu" drawer-toggle></paper-icon-button>
            <div main-title>Skill's App</div>
            <div on-click="cerrarSesion">
                <img class="cerrar-sesion"src="{{imgCierraSession}}" alt="Cerrar sesión" title="Cerrar sesión">
            </div>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <my-view1 name="personas"></my-view1>
          <my-view2 name="skills"></my-view2>
          <my-view3 name="personas-skills"></my-view3>
          <my-view404 name="view404"></my-view404>
          <my-detapersona name="detapersona"></my-detapersona>

        </iron-pages>

      <!--Login-->

      </app-header-layout>
    </app-drawer-layout>

    <skill-login class$="{{_verificaLogin()}}">
    </skill-login>

  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
            hideme:{
              type: Boolean,
              value:false,
              notify:true
            },
            logged:{
              type:Boolean,
              value:false,
              observer:'_verificaLogin',
              reflectToAttribute:true
            },
          cargando: Boolean,
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          imgLogo: {
                type: String,
                value: function() {return this.resolveUrl('../images/Logo_bbva.png')}
            },
            imgCierraSession: {
                type: String,
                value: function() {return this.resolveUrl('../images/logout.png')}
            },
            uriBase:{
            type:String,
            value:'https://skilldev-app.herokuapp.com'
          }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)'
        ];
      }

      ready(){
        super.ready(); //add a transparent black so the white text is visiable;
        document.querySelector("my-app").$.drawer.$.contentContainer.style.backgroundColor = "#028484";
        }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        //this.subroute.path
        if(this.page=='personas' && this.subroute.path!=""){
          this.page = 'detapersona';
        }else{
          this.page = page || 'view1';
        }


        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        var resolvedPageUrl;
        switch(page) {
          case 'personas':
            page = 'view1';
            resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
            break;
          case 'skills':
            page = 'view2';
            resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
            break;
          case 'personas-skills':
            page = 'view3';
            resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
            break;
          case 'detapersona':
            resolvedPageUrl = this.resolveUrl('./persona/my-' + page + '.html');
            break;
          default:
            resolvedPageUrl = document.baseURI;
            break;

        }

        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }


      _verifica(){
        console.log('Logeado: '+this.logged);

        if(!this.logged){
          return 'hide-by-access';
        }else
          return;

      }

      _verificaLogin(){
        console.log('ingreso a verifica login');
        //var logged = true;
        if(this.logged){
          return 'hide-by-access';
        }else
          return;

      }

      cerrarSesion(){
        //this.page="/";
        localStorage.removeItem('token');
        this.logged = false;
        window.location =document.baseURI;
      }

      _showPage404() {
        //this.page = 'view404';
        this.page = 'No encontrado.';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
