<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/iron-iconset-svg/iron-iconset-svg.html">
<iron-iconset-svg name="iconos-web" size="64" >
  <svg id="bbva-staffing" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#666666;
        }
      </style>
    </defs>
    <path class="icono" d=" M250.9615384615385 163.5265384615385V214.3211538461538C250.9615384615385 218.0353846153846 249.5561538461539 221.85 245.9423076923077 221.85H18.0692307692308C14.4553846153846 221.85 10.0384615384615 218.0353846153846 10.0384615384615 214.3211538461538V163.5265384615385C27.1038461538462 163.5265384615385 41.76 148.8703846153846 41.76 130.8011538461539S27.1038461538462 97.9753846153846 10.0384615384615 97.9753846153846V47.1807692307692C10.0384615384615 43.4665384615385 14.4553846153846 41.1576923076923 18.0692307692308 41.1576923076923H245.9423076923077C249.5561538461539 41.1576923076923 250.9615384615385 43.4665384615385 250.9615384615385 47.1807692307692V97.9753846153846C233.8961538461539 97.9753846153846 219.24 112.6315384615385 219.24 130.7007692307692S233.8961538461539 163.5265384615385 250.9615384615385 163.5265384615385zM91.8519230769231 181.7965384615385C102.9946153846154 181.8969230769231 112.1296153846154 172.8623076923077 112.1296153846154 161.7196153846154C112.23 150.5769230769231 103.1953846153846 141.4419230769231 92.0526923076923 141.4419230769231S71.775 150.3761538461539 71.775 161.5188461538462C71.775 161.5188461538462 71.775 161.6192307692308 71.775 161.6192307692308C71.775 172.7619230769231 80.7092307692308 181.7965384615385 91.8519230769231 181.7965384615385C91.8519230769231 181.7965384615385 91.8519230769231 181.7965384615385 91.8519230769231 181.7965384615385zM172.1596153846154 80.91C161.0169230769231 80.8096153846154 151.8819230769231 89.8442307692308 151.8819230769231 100.9869230769231C151.7815384615385 112.1296153846154 160.8161538461539 121.2646153846154 171.9588461538462 121.2646153846154C183.1015384615385 121.365 192.2365384615385 112.3303846153846 192.2365384615385 101.1876923076923C192.2365384615385 101.1876923076923 192.2365384615385 101.0873076923077 192.2365384615385 101.0873076923077C192.2365384615385 89.9446153846154 183.3023076923077 80.91 172.1596153846154 80.91zM101.8903846153846 81.3115384615385H71.775L162.1211538461539 182.7H192.2365384615385L101.8903846153846 81.3115384615385z" />
  </svg>
  <svg id="bbva-wiki-metrics" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#666666;
        }
      </style>
    </defs>
    <path class="icono" d=" M166.6384615384616 88.3384615384615L140.5384615384616 105.4038461538462L140.5384615384616 130.5L120.4615384615385 130.5L120.4615384615385 105.4038461538462L94.3615384615385 88.3384615384615L106.4076923076923 72.2769230769231L130.5 88.3384615384615L154.5923076923077 72.2769230769231z M180.6923076923077 150.5769230769231C180.8930769230769 171.4569230769231 166.7388461538462 189.6265384615385 146.5615384615385 194.7461538461539C136.7238461538462 189.9276923076923 125.28 189.9276923076923 115.4423076923077 194.7461538461539C95.265 189.6265384615385 81.1107692307692 171.4569230769231 81.3115384615385 150.5769230769231V140.5384615384616H180.6923076923077V150.5769230769231z M105.4038461538462 225.8653846153846C105.4038461538462 212.0051615667465 116.6397769513618 200.7692307692308 130.5 200.7692307692308C144.3602230486382 200.7692307692308 155.5961538461539 212.0051615667465 155.5961538461539 225.8653846153846C155.5961538461539 239.7256076640228 144.3602230486382 250.9615384615385 130.5 250.9615384615385C116.6397769513618 250.9615384615385 105.4038461538462 239.7256076640228 105.4038461538462 225.8653846153846z M76.2923076923077 64.2461538461539C66.4546153846154 59.4276923076923 55.0107692307692 59.4276923076923 45.1730769230769 64.2461538461539C24.9957692307692 59.1265384615385 10.8415384615385 40.9569230769231 11.0423076923077 20.0769230769231V10.0384615384615H110.4230769230769V20.0769230769231C110.6238461538462 40.9569230769231 96.4696153846154 59.1265384615385 76.2923076923077 64.2461538461539z M35.1346153846154 95.3653846153846C35.1346153846154 81.5051615667464 46.370546182131 70.2692307692308 60.2307692307692 70.2692307692308C74.0909922794074 70.2692307692308 85.3269230769231 81.5051615667464 85.3269230769231 95.3653846153846C85.3269230769231 109.2256076640228 74.0909922794074 120.4615384615385 60.2307692307692 120.4615384615385C46.370546182131 120.4615384615385 35.1346153846154 109.2256076640228 35.1346153846154 95.3653846153846z M216.8307692307692 64.2461538461539C206.9930769230769 59.4276923076923 195.5492307692308 59.4276923076923 185.7115384615385 64.2461538461539C165.5342307692308 59.1265384615385 151.38 40.9569230769231 151.5807692307692 20.0769230769231V10.0384615384615H250.9615384615385V20.0769230769231C251.1623076923077 40.9569230769231 237.0080769230769 59.1265384615385 216.8307692307692 64.2461538461539z M175.6730769230769 95.3653846153846C175.6730769230769 81.5051615667464 186.9090077205926 70.2692307692308 200.7692307692308 70.2692307692308C214.629453817869 70.2692307692308 225.8653846153846 81.5051615667464 225.8653846153846 95.3653846153846C225.8653846153846 109.2256076640228 214.629453817869 120.4615384615385 200.7692307692308 120.4615384615385C186.9090077205926 120.4615384615385 175.6730769230769 109.2256076640228 175.6730769230769 95.3653846153846z" />
  </svg>
  <svg id="bbva-profile" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#666666;
        }
      </style>
    </defs>
    <path class="icono" d=" M162.0207692307693 128.1911538461539C142.245 118.2530769230769 118.8553846153846 118.2530769230769 98.9792307692308 128.1911538461539C58.5242307692308 118.2530769230769 30.1153846153846 82.0142307692308 30.1153846153846 40.455V20.3780769230769H230.8846153846154V40.455C230.8846153846154 82.0142307692308 202.4757692307692 118.253076923077 162.0207692307693 128.1911538461539zM160.6153846153846 50.3930769230769H130.5V70.47H180.6923076923077L160.6153846153846 50.3930769230769z M80.3076923076923 190.9315384615385C80.3076923076923 163.2110923642621 102.7795539027236 140.7392307692308 130.5 140.7392307692308C158.2204460972764 140.7392307692308 180.6923076923077 163.2110923642621 180.6923076923077 190.9315384615385C180.6923076923077 218.6519845588148 158.2204460972764 241.1238461538462 130.5 241.1238461538462C102.7795539027236 241.1238461538462 80.3076923076923 218.6519845588148 80.3076923076923 190.9315384615385z" />
  </svg>
  <svg id="bbva-employee-projects" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#337AB7;
        }
      </style>
    </defs>
    <path class="icono" d=" M52.2 182.7L0 130.5L0 248.0569694145C0 255.205207791 5.941737819 261 12.9430305855 261L248.0569695450001 261C255.20520753 261 261 255.058262181 261 248.0569694145L261 12.943030455C261 5.79479247 255.0582619200001 0 248.0569695450001 0L12.9430305855 0C5.794792209 0 0 5.94173808 0 12.943030455L0 78.3L52.2 130.5L117.45 65.25L117.45 117.45L52.2 182.7zM195.75 143.55L221.85 117.45L221.85 195.75L143.55 195.75L169.65 169.65L117.45 117.45L117.45 65.25L195.75 143.55z" />
  </svg>
  <svg id="bbva-checkmark" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#337AB7;
        }
      </style>
    </defs>
    <path class="icono" d=" M43.6673076923077 123.3726923076923L57.9219230769231 137.6273076923077L107.6123076923077 87.9369230769231L221.1473076923077 201.4719230769231L235.4019230769231 187.3176923076923L122.5696153846154 74.4853846153846L107.6123076923077 59.5280769230769z" />
  </svg>
  <svg id="bbva-close" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#337AB7;
        }
      </style>
    </defs>
    <path class="icono" d=" M60.2307692307692 44.5707692307692L44.5707692307692 60.2307692307692L115.6430769230769 131.2026923076923L46.0765384615385 200.7692307692308L60.2307692307692 214.9234615384616L129.7973076923077 145.3569230769231L200.7692307692308 216.4292307692308L216.4292307692308 200.7692307692308L145.3569230769231 129.7973076923077L216.4292307692308 58.8253846153846L202.1746153846154 44.5707692307692L131.2026923076923 115.6430769230769z" />
  </svg>
  <svg id="bbva-trash-active" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#337AB7;
          opacity: 1.0;
          filter: alpha(opacity=100); /* For IE8 and earlier */
        }
        .icono:hover {
          opacity: 1.0;
          filter: alpha(opacity=100); /* For IE8 and earlier */
        }
      </style>
    </defs>
    <path class="icono" d=" M43.5 228.375L87 228.375L87 239.1481132125C87 245.21048038125 91.92676987125 250.125 97.8427027725 250.125L163.1572976625 250.125C169.1455566 250.125 174 245.3035341675 174 239.1481132125L174 228.375L217.5 228.375L239.25 228.375L239.25 195.75L217.5 195.75L217.5 21.6608587125C217.5 15.703993725 212.6646389625 10.875 206.6155202625 10.875L54.3844793025 10.875C48.3731473125 10.875 43.5 15.8264484 43.5 21.6608587125L43.5 195.75L21.75 195.75L21.75 228.375L43.5 228.375zM97.875 43.5L97.875 130.5L76.125 130.5L76.125 65.25L97.875 43.5zM141.375 43.5L141.375 130.5L119.625 130.5L119.625 65.25L141.375 43.5zM184.875 43.5L184.875 130.5L163.125 130.5L163.125 65.25L184.875 43.5z" />
  </svg>
  <svg id="bbva-trash" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#337AB7;
          opacity: 0.5;
          filter: alpha(opacity=50); /* For IE8 and earlier */
        }
        .icono:hover {
          opacity: 1.0;
          filter: alpha(opacity=100); /* For IE8 and earlier */
        }
      </style>
    </defs>
    <path class="icono" d=" M43.5 228.375L87 228.375L87 239.1481132125C87 245.21048038125 91.92676987125 250.125 97.8427027725 250.125L163.1572976625 250.125C169.1455566 250.125 174 245.3035341675 174 239.1481132125L174 228.375L217.5 228.375L239.25 228.375L239.25 195.75L217.5 195.75L217.5 21.6608587125C217.5 15.703993725 212.6646389625 10.875 206.6155202625 10.875L54.3844793025 10.875C48.3731473125 10.875 43.5 15.8264484 43.5 21.6608587125L43.5 195.75L21.75 195.75L21.75 228.375L43.5 228.375zM97.875 43.5L97.875 130.5L76.125 130.5L76.125 65.25L97.875 43.5zM141.375 43.5L141.375 130.5L119.625 130.5L119.625 65.25L141.375 43.5zM184.875 43.5L184.875 130.5L163.125 130.5L163.125 65.25L184.875 43.5z" />
  </svg>
  <svg id="bbva-education" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#337AB7;
        }
      </style>
    </defs>
    <path class="icono" d=" M55.7134615384615 116.9480769230769L55.7134615384615 71.2730769230769L135.5192307692308 27.5053846153846L215.4253846153846 71.2730769230769L215.4253846153846 116.9480769230769L135.5192307692308 73.2807692307692z M135.5192307692308 233.3942307692308L10.0384615384615 164.7311538461539L135.5192307692308 96.1684615384615L238.2126923076923 152.2834615384616L238.2126923076923 73.2807692307692L261 73.2807692307692L261 164.7311538461539z" />
  </svg>
  <svg id="bbva-ninja" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#337AB7;
        }
      </style>
    </defs>
    <path class="icono" d=" M90.3461538461538 210.9080769230769C90.3461538461538 188.7317200452558 108.3236431221789 170.7542307692308 130.5 170.7542307692308C152.6763568778211 170.7542307692308 170.6538461538462 188.7317200452558 170.6538461538462 210.9080769230769C170.6538461538462 233.084433800898 152.6763568778211 251.0619230769231 130.5 251.0619230769231C108.3236431221789 251.0619230769231 90.3461538461538 233.084433800898 90.3461538461538 210.9080769230769z M236.8073076923077 189.3253846153846C236.8073076923077 189.3253846153846 200.97 140.6388461538462 130.7007692307692 140.6388461538462C63.4430769230769 140.6388461538462 23.9919230769231 189.3253846153846 23.9919230769231 189.3253846153846L10.0384615384615 175.3719230769231C37.845 133.7123076923077 79.5046153846154 110.5234615384616 79.5046153846154 110.5234615384616V11.0423076923077H181.0938461538462V110.5234615384615C181.0938461538462 110.5234615384615 222.7534615384616 133.7123076923077 250.5600000000001 175.3719230769231L236.8073076923077 189.3253846153846z" />
  </svg>
  <svg id="bbva-book" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#337AB7;
        }
      </style>
    </defs>
    <path class="icono" d=" M210.8076923076923 220.8461538461539V30.2157692307692C209.8038461538462 30.2157692307692 116.2453846153846 30.1153846153846 63.0415384615385 30.1153846153846C45.7753846153846 30.1153846153846 46.0765384615385 50.1923076923077 63.1419230769231 50.1923076923077H190.7307692307692V250.9615384615385H54.4084615384615C51.4973076923077 249.9576923076923 48.3853846153846 249.3553846153846 45.675 247.95C36.3392307692308 243.2319230769231 30.8180769230769 235.4019230769231 30.1153846153846 224.8615384615385C30.1153846153846 224.46 30.1153846153846 224.0584615384615 30.1153846153846 223.5565384615385C30.1153846153846 169.65 30.1153846153846 91.35 30.1153846153846 37.4434615384616C30.1153846153846 24.3934615384616 39.15 13.7526923076923 51.7984615384615 10.7411538461539C54.2076923076923 10.2392307692308 56.6169230769231 9.9380769230769 59.1265384615385 10.0384615384616C117.3496153846154 10.0384615384616 172.6615384615385 10.0384615384616 230.8846153846154 10.0384615384616V220.8461538461539H210.8076923076923zM70.2692307692308 210.8076923076923H150.5769230769231L130.5 190.7307692307692H70.2692307692308V210.8076923076923z" />
  </svg>
  <svg id="bbva-bit-token" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#337AB7;
        }
      </style>
    </defs>
    <path class="icono" d=" M128.9942307692308 121.8669230769231H107.8130769230769V87.8365384615385H128.693076923077C128.693076923077 87.8365384615385 153.1869230769231 87.6357692307693 153.1869230769231 104.5003846153846C153.1869230769231 121.5657692307692 128.9942307692308 121.8669230769231 128.9942307692308 121.8669230769231z M150.1753846153846 157.2023076923077C150.1753846153846 174.2676923076923 128.9942307692308 172.8623076923077 128.9942307692308 172.8623076923077H107.8130769230769V141.7430769230769H128.693076923077C128.6930769230769 141.7430769230769 150.1753846153846 140.3376923076923 150.1753846153846 157.2023076923077z M228.8769230769231 240.923076923077H32.1230769230769C25.4976923076923 240.923076923077 20.0769230769231 235.5023076923077 20.0769230769231 228.8769230769231V32.1230769230769C20.0769230769231 25.4976923076923 25.4976923076923 20.0769230769231 32.1230769230769 20.0769230769231H228.8769230769231C235.5023076923077 20.0769230769231 240.9230769230769 25.4976923076923 240.9230769230769 32.1230769230769V228.8769230769231C240.9230769230769 235.5023076923077 235.5023076923077 240.923076923077 228.8769230769231 240.923076923077zM180.8930769230769 101.6896153846154C180.7926923076923 63.8446153846154 134.1138461538462 66.2538461538462 134.1138461538462 66.2538461538462H80.1069230769231V194.7461538461539H131.5038461538462C180.7926923076923 195.9507692307693 177.3796153846154 162.9242307692308 177.3796153846154 162.9242307692308C177.6807692307692 136.6234615384615 152.8857692307692 133.4111538461539 152.8857692307692 133.4111538461539V133.11C183.1015384615385 129.195 180.8930769230769 101.6896153846154 180.8930769230769 101.6896153846154z" />
  </svg>
  <svg id="bbva-register" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#337AB7;
        }
      </style>
    </defs>
    <path class="icono" d=" M30.1153846153846 230.8846153846154L60.2307692307692 230.8846153846154L60.2307692307692 250.9615384615385L10.0384615384615 250.9615384615385L10.0384615384615 230.8846153846154L10.0384615384615 200.7692307692308L30.1153846153846 200.7692307692308z M30.1153846153846 60.2307692307692L10.0384615384615 60.2307692307692L10.0384615384615 10.0384615384615L60.2307692307692 10.0384615384615L60.2307692307692 30.1153846153846L30.1153846153846 30.1153846153846z M230.8846153846154 30.1153846153846L200.7692307692308 30.1153846153846L200.7692307692308 10.0384615384615L250.9615384615385 10.0384615384615L250.9615384615385 60.2307692307692L230.8846153846154 60.2307692307692z M200.7692307692308 250.9615384615385L200.7692307692308 230.8846153846154L230.8846153846154 230.8846153846154L230.8846153846154 200.7692307692308L250.9615384615385 200.7692307692308L250.9615384615385 250.9615384615385z M50.6942307692308 50.1923076923077H211.3096153846154V66.2538461538462C211.3096153846154 99.5815384615385 188.5223076923077 128.5926923076923 156.1984615384616 136.4226923076923C140.3376923076923 128.4923076923077 121.6661538461538 128.4923076923077 105.8053846153846 136.4226923076923C73.4815384615385 128.4923076923077 50.6942307692308 99.4811538461539 50.6942307692308 66.2538461538462V50.1923076923077zM129.9980769230769 100.3846153846154H180.1903846153846L160.1134615384615 80.3076923076923H129.9980769230769V100.3846153846154z M95.8673076923077 185.7115384615385C95.8673076923077 166.307226193445 111.5976108088296 150.5769230769231 131.0019230769231 150.5769230769231C150.4062353450166 150.5769230769231 166.1365384615385 166.307226193445 166.1365384615385 185.7115384615385C166.1365384615385 205.1158507296319 150.4062353450166 220.8461538461539 131.0019230769231 220.8461538461539C111.5976108088296 220.8461538461539 95.8673076923077 205.1158507296319 95.8673076923077 185.7115384615385z" />
  </svg>
  <svg id="bbva-team" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#337AB7;
        }
      </style>
    </defs>
    <path class="icono" d=" M64.7480769230769 169.7503846153846C64.7480769230769 147.0750597078126 83.1300597078126 128.6930769230769 105.8053846153846 128.6930769230769C128.4807095229567 128.6930769230769 146.8626923076923 147.0750597078126 146.8626923076923 169.7503846153846C146.8626923076923 192.4257095229567 128.4807095229567 210.8076923076923 105.8053846153846 210.8076923076923C83.1300597078126 210.8076923076923 64.7480769230769 192.4257095229567 64.7480769230769 169.7503846153846z M132.3069230769231 120.4615384615385C123.975 116.3457692307692 114.84 114.2376923076923 105.6046153846154 114.3380769230769C96.2688461538462 114.3380769230769 87.0334615384616 116.4461538461538 78.7015384615385 120.4615384615385C45.1730769230769 112.4307692307692 20.0769230769231 82.9176923076923 20.0769230769231 47.7830769230769V30.1153846153846H190.7307692307692V47.7830769230769C190.7307692307692 82.9176923076923 165.735 112.4307692307692 132.3069230769231 120.4615384615385z M161.9203846153846 169.7503846153846C161.9203846153846 165.8353846153846 161.5188461538462 162.0207692307692 160.7157692307693 158.2061538461538C180.6923076923077 155.4957692307692 199.0626923076923 169.5496153846154 201.773076923077 189.5261538461539S190.4296153846154 227.8730769230769 170.4530769230769 230.5834615384616C157.5034615384616 232.29 144.6542307692308 226.9696153846154 136.6234615384616 216.63C152.4842307692308 206.2903846153846 161.9203846153846 188.6226923076923 161.9203846153846 169.7503846153846z M240.9230769230769 85.9292307692308C240.9230769230769 117.2492307692308 218.7380769230769 143.4496153846154 189.0242307692308 150.5769230769231C181.5957692307692 146.9630769230769 173.565 145.0557692307692 165.3334615384616 145.0557692307692C162.4223076923077 145.0557692307692 159.5111538461539 145.2565384615385 156.6 145.7584615384616C154.1907692307693 140.6388461538462 150.878076923077 135.8203846153846 147.0634615384616 131.6042307692308C174.5688461538462 121.4653846153846 195.4488461538462 98.5776923076923 202.9776923076923 70.1688461538462H240.9230769230769V85.9292307692308z" />
  </svg>
  <svg id="bbva-organization" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#337AB7;
        }
      </style>
    </defs>
    <path class="icono" d=" M55.2115384615385 90.3461538461538C35.8373076923077 90.3461538461538 20.0769230769231 74.5857692307693 20.0769230769231 55.2115384615385S35.8373076923077 20.0769230769231 55.2115384615385 20.0769230769231S90.3461538461538 35.8373076923077 90.3461538461538 55.2115384615385S74.5857692307692 90.3461538461538 55.2115384615385 90.3461538461538L55.2115384615385 90.3461538461538zM55.2115384615385 40.1538461538462C46.8796153846154 40.1538461538462 40.1538461538462 46.8796153846154 40.1538461538462 55.2115384615385S46.8796153846154 70.2692307692308 55.2115384615385 70.2692307692308S70.2692307692308 63.5434615384615 70.2692307692308 55.2115384615385S63.5434615384615 40.1538461538462 55.2115384615385 40.1538461538462L55.2115384615385 40.1538461538462z M205.7884615384616 90.3461538461538C186.4142307692308 90.3461538461538 170.6538461538462 74.5857692307693 170.6538461538462 55.2115384615385S186.4142307692308 20.0769230769231 205.7884615384616 20.0769230769231S240.9230769230769 35.8373076923077 240.9230769230769 55.2115384615385S225.1626923076923 90.3461538461538 205.7884615384616 90.3461538461538L205.7884615384616 90.3461538461538zM205.7884615384616 40.1538461538462C197.4565384615385 40.1538461538462 190.7307692307692 46.8796153846154 190.7307692307692 55.2115384615385S197.4565384615385 70.2692307692308 205.7884615384616 70.2692307692308S220.8461538461539 63.5434615384615 220.8461538461539 55.2115384615385S214.1203846153846 40.1538461538462 205.7884615384616 40.1538461538462L205.7884615384616 40.1538461538462z M130.5 90.3461538461538C111.1257692307692 90.3461538461538 95.3653846153846 74.5857692307693 95.3653846153846 55.2115384615385S111.1257692307692 20.0769230769231 130.5 20.0769230769231S165.6346153846154 35.8373076923077 165.6346153846154 55.2115384615385S149.8742307692308 90.3461538461538 130.5 90.3461538461538L130.5 90.3461538461538zM130.5 40.1538461538462C122.1680769230769 40.1538461538462 115.4423076923077 46.8796153846154 115.4423076923077 55.2115384615385S122.1680769230769 70.2692307692308 130.5 70.2692307692308S145.5576923076923 63.5434615384615 145.5576923076923 55.2115384615385S138.8319230769231 40.1538461538462 130.5 40.1538461538462L130.5 40.1538461538462z M60.2307692307692 130.5H120.4615384615385V100.3846153846154H140.5384615384616V130.5H200.7692307692308V100.3846153846154H220.8461538461539V144.5538461538462C220.8461538461539 147.8665384615385 218.1357692307692 150.5769230769231 214.8230769230769 150.5769230769231H140.5384615384616V180.6923076923077H174.6692307692308C177.9819230769231 180.6923076923077 180.6923076923077 183.4026923076923 180.6923076923077 186.7153846153846V234.9C180.6923076923077 238.2126923076923 177.9819230769231 240.923076923077 174.6692307692308 240.923076923077H86.3307692307692C83.0180769230769 240.923076923077 80.3076923076923 238.2126923076923 80.3076923076923 234.9V186.7153846153846C80.3076923076923 183.4026923076923 83.0180769230769 180.6923076923077 86.3307692307692 180.6923076923077H120.4615384615385V150.5769230769231H46.1769230769231C42.8642307692308 150.5769230769231 40.1538461538462 147.8665384615385 40.1538461538462 144.5538461538462V100.3846153846154H60.2307692307692V130.5zM100.3846153846154 200.7692307692308V220.8461538461539H160.6153846153846L140.5384615384616 200.7692307692308H100.3846153846154z" />
  </svg>
  <svg id="bbva-edit" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#337AB7;
        }
      </style>
    </defs>
    <path class="icono" d=" M237.0080769230769 201.9738461538462L201.1707692307692 238.0119230769231C197.3561538461538 241.9269230769231 191.0319230769231 241.9269230769231 187.1169230769231 238.1123076923077C187.1169230769231 238.1123076923077 187.0165384615384 238.0119230769231 187.0165384615384 238.0119230769231L154.9938461538462 205.7884615384616L189.9276923076923 170.6538461538462H159.9126923076923L139.9361538461538 190.7307692307692L20.0769230769231 70.2692307692308V20.0769230769231H70.0684615384615L237.0080769230769 187.7192307692308C240.9230769230769 191.6342307692308 240.9230769230769 197.9584615384615 237.0080769230769 201.9738461538462C237.0080769230769 201.9738461538462 237.0080769230769 201.9738461538462 237.0080769230769 201.9738461538462z M120.4615384615385 40.1538461538462L100.3846153846154 20.0769230769231L240.9230769230769 20.0769230769231L240.9230769230769 40.1538461538462z" />
  </svg>
  <svg id="bbva-employee-skills" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#337AB7;
        }
      </style>
    </defs>
    <path class="icono" d=" M65.25 54.375H239.25V152.25L261 174V32.625H43.5L65.25 54.375zM0 217.5H217.5V76.125H0V217.5zM32.625 184.875V163.125H76.125L97.875 184.875H32.625zM152.25 123.975L178.35 106.575L169.65 135.9375L194.6625 154.425L163.125 155.5125L152.25 184.875L142.4625 155.5125L110.925 154.425L135.9375 135.9375L127.2375 106.575L152.25 123.975z" />
  </svg>
  <svg id="bbva-add" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#337AB7;
        }
      </style>
    </defs>
    <path class="icono" d=" M130.5 250.9615384615385C63.945 250.9615384615385 10.0384615384615 197.055 10.0384615384615 130.5S63.945 10.0384615384615 130.5 10.0384615384615S250.9615384615385 63.945 250.9615384615385 130.5S197.055 250.9615384615385 130.5 250.9615384615385zM180.6923076923077 119.9596153846154H140.0365384615385V69.7673076923077H119.9596153846154V119.9596153846154H69.7673076923077V140.0365384615385H119.9596153846154V190.2288461538462H140.0365384615385V140.0365384615385H200.7692307692308L180.6923076923077 119.9596153846154z" />
  </svg>
  <svg id="bbva-add-skill" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#337AB7;
        }
      </style>
    </defs>
    <path class="icono" d=" M185.9123076923077 150.7776923076923C194.3446153846154 150.7776923076923 202.6765384615384 149.573076923077 210.8076923076923 147.0634615384615V240.923076923077C210.8076923076923 246.4442307692308 206.3907692307692 250.9615384615385 200.8696153846154 250.9615384615385H190.7307692307692L180.6923076923077 240.923076923077H170.6538461538462V250.9615384615385H160.6153846153846L150.5769230769231 240.923076923077H140.5384615384616V250.9615384615385H130.5L120.4615384615385 240.923076923077H110.4230769230769V250.9615384615385H100.3846153846154L90.3461538461538 240.923076923077H80.3076923076923V250.9615384615385H70.2692307692308L60.2307692307692 240.923076923077H50.1923076923077V250.9615384615385H40.0534615384615C34.5323076923077 250.9615384615385 30.1153846153846 246.4442307692308 30.1153846153846 240.923076923077V20.0769230769231C30.1153846153846 14.5557692307692 34.5323076923077 10.0384615384615 40.0534615384615 10.0384615384615H50.1923076923077L60.2307692307692 20.0769230769231H70.2692307692308V10.0384615384615H80.3076923076923L90.3461538461538 20.0769230769231H100.3846153846154V10.0384615384615H110.4230769230769L116.4461538461539 16.0615384615385C89.1415384615385 54.4084615384615 98.0757692307692 107.6123076923077 136.4226923076923 135.0173076923077C150.878076923077 145.2565384615385 168.1442307692308 150.7776923076923 185.9123076923077 150.7776923076923L185.9123076923077 150.7776923076923zM60.2307692307692 200.7692307692308H170.6538461538462L150.5769230769231 180.6923076923077H60.2307692307692V200.7692307692308zM60.2307692307692 140.5384615384616V160.6153846153846H140.5384615384616L120.4615384615385 140.5384615384616H60.2307692307692z M185.7115384615385 130.5C149.6734615384616 130.5 120.4615384615385 101.2880769230769 120.4615384615385 65.25S149.6734615384616 0 185.7115384615385 0S250.9615384615385 29.2119230769231 250.9615384615385 65.25S221.7496153846154 130.5 185.7115384615385 130.5L185.7115384615385 130.5zM219.1396153846154 57.1188461538462H193.8426923076923V25.0961538461538H177.5803846153847V57.1188461538462H145.5576923076923V73.3811538461538H177.5803846153846V105.4038461538462H193.8426923076923V73.3811538461538H225.8653846153846L219.1396153846154 57.1188461538462z" />
  </svg>
  <svg id="bbva-validated" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#666666;
        }
      </style>
    </defs>
    <path class="icono" d=" M170.6538461538462 220.8461538461539L150.5769230769231 240.923076923077H30.1153846153846V20.0769230769231H60.2307692307692V109.4192307692308H131.2026923076923L150.5769230769231 89.3423076923077H230.8846153846154V220.8461538461539H170.6538461538462zM60.2307692307692 130.5V210.8076923076923L140.5384615384616 130.5H60.2307692307692z" />
  </svg>
  <svg id="bbva-checked" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#666666;
        }
      </style>
    </defs>
    <path class="icono" d=" M80.3076923076923 190.7307692307692C80.3076923076923 163.0103231334929 102.7795539027236 140.5384615384616 130.5 140.5384615384616C158.2204460972764 140.5384615384616 180.6923076923077 163.0103231334929 180.6923076923077 190.7307692307692C180.6923076923077 218.4512153280456 158.2204460972764 240.923076923077 130.5 240.923076923077C102.7795539027236 240.923076923077 80.3076923076923 218.4512153280456 80.3076923076923 190.7307692307692z M162.0207692307693 127.7896153846154C155.295 124.4769230769231 148.0673076923077 122.168076923077 140.5384615384616 121.0638461538462V120.3611538461539L150.5769230769231 49.9915384615385L130.5 29.9146153846154L110.4230769230769 49.9915384615385L120.4615384615385 120.3611538461539V121.0638461538462C112.9326923076923 122.0676923076924 105.705 124.3765384615385 98.9792307692308 127.7896153846154C58.5242307692308 117.8515384615385 30.015 81.6126923076923 30.1153846153846 39.9530769230769V20.0769230769231H230.8846153846154V39.9530769230769C230.8846153846154 81.6126923076923 202.4757692307692 117.9519230769231 162.0207692307693 127.7896153846154z" />
  </svg>
  <svg id="bbva-percentage" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#337AB7;
        }
      </style>
    </defs>
    <path class="icono" d=" M250.9615384615385 163.5265384615385V214.3211538461538C250.9615384615385 218.0353846153846 249.5561538461539 221.85 245.9423076923077 221.85H18.0692307692308C14.4553846153846 221.85 10.0384615384615 218.0353846153846 10.0384615384615 214.3211538461538V163.5265384615385C27.1038461538462 163.5265384615385 41.76 148.8703846153846 41.76 130.8011538461539S27.1038461538462 97.9753846153846 10.0384615384615 97.9753846153846V47.1807692307692C10.0384615384615 43.4665384615385 14.4553846153846 41.1576923076923 18.0692307692308 41.1576923076923H245.9423076923077C249.5561538461539 41.1576923076923 250.9615384615385 43.4665384615385 250.9615384615385 47.1807692307692V97.9753846153846C233.8961538461539 97.9753846153846 219.24 112.6315384615385 219.24 130.7007692307692S233.8961538461539 163.5265384615385 250.9615384615385 163.5265384615385zM91.8519230769231 181.7965384615385C102.9946153846154 181.8969230769231 112.1296153846154 172.8623076923077 112.1296153846154 161.7196153846154C112.23 150.5769230769231 103.1953846153846 141.4419230769231 92.0526923076923 141.4419230769231S71.775 150.3761538461539 71.775 161.5188461538462C71.775 161.5188461538462 71.775 161.6192307692308 71.775 161.6192307692308C71.775 172.7619230769231 80.7092307692308 181.7965384615385 91.8519230769231 181.7965384615385C91.8519230769231 181.7965384615385 91.8519230769231 181.7965384615385 91.8519230769231 181.7965384615385zM172.1596153846154 80.91C161.0169230769231 80.8096153846154 151.8819230769231 89.8442307692308 151.8819230769231 100.9869230769231C151.7815384615385 112.1296153846154 160.8161538461539 121.2646153846154 171.9588461538462 121.2646153846154C183.1015384615385 121.365 192.2365384615385 112.3303846153846 192.2365384615385 101.1876923076923C192.2365384615385 101.1876923076923 192.2365384615385 101.0873076923077 192.2365384615385 101.0873076923077C192.2365384615385 89.9446153846154 183.3023076923077 80.91 172.1596153846154 80.91zM101.8903846153846 81.3115384615385H71.775L162.1211538461539 182.7H192.2365384615385L101.8903846153846 81.3115384615385z" />
  </svg>
  <svg id="bbva-rank-state-none" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#D3D3D3;
        }
      </style>
    </defs>
    <path class="icono" d=" M164.6307692307692 177.2792307692308L129.4961538461539 251.0619230769231L95.3653846153846 177.1788461538462C93.8596153846154 173.7657692307692 90.6473076923077 171.4569230769231 87.0334615384615 170.8546153846154L10.0384615384615 158.8084615384615L10.0384615384615 158.8084615384615L66.6553846153846 101.3884615384615C69.0646153846154 98.8788461538462 70.1688461538462 95.3653846153846 69.6669230769231 91.9523076923077L57.0184615384616 10.44L57.0184615384616 10.44L125.5811538461539 48.6865384615385C128.8938461538462 50.4934615384615 133.0096153846154 50.4934615384615 136.3223076923077 48.6865384615385L205.4873076923077 10.7411538461539L205.4873076923077 10.7411538461539L191.5338461538461 92.1530769230769C190.9315384615385 95.6665384615384 192.0357692307692 99.18 194.445 101.6896153846154L250.0580769230769 159.4107692307692L250.0580769230769 159.4107692307692L172.8623076923077 171.0553846153846C169.3488461538462 171.6576923076923 166.2369230769231 173.9665384615385 164.6307692307692 177.2792307692308z" />
  </svg>

  <svg id="bbva-rank-state-marked" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#666666;
        }
      </style>
    </defs>
    <path class="icono" d=" M164.6307692307692 177.2792307692308L129.4961538461539 251.0619230769231L95.3653846153846 177.1788461538462C93.8596153846154 173.7657692307692 90.6473076923077 171.4569230769231 87.0334615384615 170.8546153846154L10.0384615384615 158.8084615384615L10.0384615384615 158.8084615384615L66.6553846153846 101.3884615384615C69.0646153846154 98.8788461538462 70.1688461538462 95.3653846153846 69.6669230769231 91.9523076923077L57.0184615384616 10.44L57.0184615384616 10.44L125.5811538461539 48.6865384615385C128.8938461538462 50.4934615384615 133.0096153846154 50.4934615384615 136.3223076923077 48.6865384615385L205.4873076923077 10.7411538461539L205.4873076923077 10.7411538461539L191.5338461538461 92.1530769230769C190.9315384615385 95.6665384615384 192.0357692307692 99.18 194.445 101.6896153846154L250.0580769230769 159.4107692307692L250.0580769230769 159.4107692307692L172.8623076923077 171.0553846153846C169.3488461538462 171.6576923076923 166.2369230769231 173.9665384615385 164.6307692307692 177.2792307692308z" />
  </svg>

  <svg id="bbva-rank-state-validated" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#337AB7;
        }
      </style>
    </defs>
    <path class="icono" d=" M164.6307692307692 177.2792307692308L129.4961538461539 251.0619230769231L95.3653846153846 177.1788461538462C93.8596153846154 173.7657692307692 90.6473076923077 171.4569230769231 87.0334615384615 170.8546153846154L10.0384615384615 158.8084615384615L10.0384615384615 158.8084615384615L66.6553846153846 101.3884615384615C69.0646153846154 98.8788461538462 70.1688461538462 95.3653846153846 69.6669230769231 91.9523076923077L57.0184615384616 10.44L57.0184615384616 10.44L125.5811538461539 48.6865384615385C128.8938461538462 50.4934615384615 133.0096153846154 50.4934615384615 136.3223076923077 48.6865384615385L205.4873076923077 10.7411538461539L205.4873076923077 10.7411538461539L191.5338461538461 92.1530769230769C190.9315384615385 95.6665384615384 192.0357692307692 99.18 194.445 101.6896153846154L250.0580769230769 159.4107692307692L250.0580769230769 159.4107692307692L172.8623076923077 171.0553846153846C169.3488461538462 171.6576923076923 166.2369230769231 173.9665384615385 164.6307692307692 177.2792307692308z" />
  </svg>

  <svg id="bbva-rank-state-checked" width="261" height="261" viewBox="0 0 261 261">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#F0AD4E;
        }
      </style>
    </defs>
    <path class="icono" d=" M164.6307692307692 177.2792307692308L129.4961538461539 251.0619230769231L95.3653846153846 177.1788461538462C93.8596153846154 173.7657692307692 90.6473076923077 171.4569230769231 87.0334615384615 170.8546153846154L10.0384615384615 158.8084615384615L10.0384615384615 158.8084615384615L66.6553846153846 101.3884615384615C69.0646153846154 98.8788461538462 70.1688461538462 95.3653846153846 69.6669230769231 91.9523076923077L57.0184615384616 10.44L57.0184615384616 10.44L125.5811538461539 48.6865384615385C128.8938461538462 50.4934615384615 133.0096153846154 50.4934615384615 136.3223076923077 48.6865384615385L205.4873076923077 10.7411538461539L205.4873076923077 10.7411538461539L191.5338461538461 92.1530769230769C190.9315384615385 95.6665384615384 192.0357692307692 99.18 194.445 101.6896153846154L250.0580769230769 159.4107692307692L250.0580769230769 159.4107692307692L172.8623076923077 171.0553846153846C169.3488461538462 171.6576923076923 166.2369230769231 173.9665384615385 164.6307692307692 177.2792307692308z" />
  </svg>

  <svg id="bbva-file" viewBox="0 0 361 80" height="361" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <style>
        .icono {
          transform: rotate(180deg);
          transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
          transform: scale(1,-1);
          fill:#1973b8;
        }
      </style>
    </defs>
    <g>

      <path class="icono" d=" M65.25 54.375L239.25 54.375L239.25 152.25L261 174L261 32.625L43.5 32.625L65.25 54.375zM0 217.5L217.5 217.5L217.5 76.125L0 76.125L0 217.5zM32.625 130.5L32.625 108.75L152.25 108.75L174 130.5L32.625 130.5zM32.625 184.875L32.625 163.125L76.125 163.125L97.875 184.875L32.625 184.875z" />
  </svg>
<svg version="1.1" id="file" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">

<g>
	<path d="M42.5,22h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S43.052,22,42.5,22z"/>
	<path class="fondo" d="M17.5,16h10c0.552,0,1-0.447,1-1s-0.448-1-1-1h-10c-0.552,0-1,0.447-1,1S16.948,16,17.5,16z"/>
	<path class="fondo" d="M42.5,30h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S43.052,30,42.5,30z"/>
	<path class="fondo" d="M42.5,38h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S43.052,38,42.5,38z"/>
	<path class="fondo" d="M42.5,46h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S43.052,46,42.5,46z"/>
	<path class="fondo" d="M38.914,0H6.5v60h47V14.586L38.914,0z M39.5,3.414L50.086,14H39.5V3.414z M8.5,58V2h29v14h14v42H8.5z"/>
</g>
<glyph id="accesible-toilet" glyph-name="accesible-toilet"
  unicode="&#xF101;"
  horiz-adv-x="260" d=" M219.8 51.3L200.6 130H146.4L158.2 188.9C159.4 194.6 154.9 200 149.1 200H60L45 162.7C42.5 156.6 47.1 150 53.7 150L53.7 150C57.5 150 60.9 152.3 62.4 155.8L72 180H116.2L102.4 111.1C101.2 105.4 105.7 100 111.5 100H187.2L200.6 47.3C201.5 43.1 205.3 40 209.7 40H210.7C216.6 40 221.1 45.5 219.8 51.3z M140.3 230C140.3 218.9543050033841 149.2990765284011 210 160.4 210C171.500923471599 210 180.5 218.9543050033841 180.5 230C180.5 241.0456949966159 171.500923471599 250 160.4 250C149.2990765284011 250 140.3 241.0456949966159 140.3 230z M105.4 40C80.4 40 60.1 60.2 60.1 85C60.1 100.8 68.3 114.7 80.8 122.7C80.5 125.1 80.3 127.5 80.3 130C80.3 135.6 81.2 141 83 146.1C57.9 136.9 40 113 40 85C40 49.1 69.3 20 105.4 20C139.8 20 168 46.4 170.6 80H150.4C147.9 57.5 128.6 40 105.4 40z" />

</svg>
<svg id="contacto" width="18px" height="20px" viewBox="0 0 18 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
    <title>perm_contact_calendar</title>
    <desc>Created with Sketch.</desc>
    <defs>
      <style>
        .fondo {fill:#CCC; background-color: red}
      </style>
    </defs>
    <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Two-Tone" transform="translate(-443.000000, -331.000000)">
            <g id="Action" transform="translate(100.000000, 100.000000)">
                <g id="Two-Tone-/-Action-/-perm_contact_calendar" transform="translate(340.000000, 230.000000)">
                    <g>
                        <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
                        <path d="M16,5 L5,5 L5,19 L19,19 L19,5 L16,5 Z M12,6 C13.65,6 15,7.35 15,9 C15,10.65 13.65,12 12,12 C10.35,12 9,10.65 9,9 C9,7.35 10.35,6 12,6 Z M18,18 L6,18 L6,16.47 C6,13.97 9.97,12.89 12,12.89 C14.03,12.89 18,13.97 18,16.47 L18,18 Z" id="ðŸ”¹-Secondary-Color" fill="#D0D0D0"></path>
                        <path d="M20.84,4.22 C20.79,4.1 20.73,3.99 20.66,3.88 C20.52,3.67 20.33,3.48 20.12,3.34 C20.01,3.27 19.9,3.21 19.78,3.16 C19.54,3.06 19.28,3 19,3 L18,3 L18,1 L16,1 L16,3 L8,3 L8,1 L6,1 L6,3 L5,3 C4.58,3 4.2,3.13 3.88,3.34 C3.67,3.48 3.48,3.67 3.34,3.88 C3.27,3.99 3.21,4.1 3.16,4.22 C3.06,4.46 3,4.72 3,5 L3,19 C3,20.1 3.89,21 5,21 L19,21 C19.28,21 19.54,20.94 19.78,20.84 C19.9,20.79 20.01,20.73 20.12,20.66 C20.33,20.52 20.52,20.33 20.66,20.12 C20.87,19.8 21,19.41 21,19 L21,5 C21,4.72 20.94,4.46 20.84,4.22 Z M19,19 L5,19 L5,5 L19,5 L19,19 Z M12,12.88 C9.97,12.88 6,13.96 6,16.46 L6,18 L18,18 L18,16.47 C18,13.96 14.03,12.88 12,12.88 Z M8.31,16 C9,15.44 10.69,14.88 12,14.88 C13.31,14.88 15.01,15.44 15.69,16 L8.31,16 Z M12,12 C13.65,12 15,10.65 15,9 C15,7.35 13.65,6 12,6 C10.35,6 9,7.35 9,9 C9,10.65 10.35,12 12,12 Z M12,8 C12.55,8 13,8.45 13,9 C13,9.55 12.55,10 12,10 C11.45,10 11,9.55 11,9 C11,8.45 11.45,8 12,8 Z" id="ðŸ”¹-Primary-Color" fill="#1973b8"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
</iron-iconset-svg>
<iron-iconset-svg name="vivid" size="48" >
<svg id="dog" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
  <defs>
    <style>
      .vi-primary {
        fill: #FF6E6E;
      }

      .vi-accent {
        fill: #0C0058;
      }

      .vi-accent, .vi-prop {
        fill-rule: evenodd;
      }

      .vi-prop {
        fill: #fff;
      }
    </style>
  </defs>
  <rect class="vi-primary" x="11" y="7" width="26" height="34"/>
  <path class="vi-accent" d="M16,7V18l3-3,3,3V7H16ZM28,19h9v2H28V19Zm0,6h9v2H28V25Zm0,5h9v2H28V30Z"/>
  <path class="vi-prop" d="M24.995,19.005v1.982h3.01V19.005h-3.01Zm0,6.01V27h3.01V25.016h-3.01Zm0,4.978v2.014h3.01V29.993h-3.01Z"/>
</svg>
</iron-iconset-svg>

<iron-iconset-svg name="iconos" size="48">
  <svg>
    <defs>
    <style>
    .vi-primary {
      fill: #FF6E6E;
    }

    .vi-accent {
      fill: #0C0058;
    }

    .vi-accent, .vi-prop {
      fill-rule: evenodd;
    }

    .vi-prop {
      fill: #fff;
    }
  </style>
  <g id="doc">
    <rect class="vi-primary" x="11" y="7" width="26" height="34"/>
    <path class="vi-accent" d="M16,7V18l3-3,3,3V7H16ZM28,19h9v2H28V19Zm0,6h9v2H28V25Zm0,5h9v2H28V30Z"/>
    <path class="vi-prop" d="M24.995,19.005v1.982h3.01V19.005h-3.01Zm0,6.01V27h3.01V25.016h-3.01Zm0,4.978v2.014h3.01V29.993h-3.01Z"/>
  </g>
  <g id="shape">
    <rect x="12" y="0" width="12" height="24"></rect>
    <circle cx="12" cy="12" r="12"></circle>
  </g>
  <g id="icon-view-detail">
    <path d="M12 6h4v2h-4zM18 6h4v2h-4zM28 6v8h-6v-2h4v-4h-2v-2zM10 12h4v2h-4zM16 12h4v2h-4zM6 8v4h2v2h-4v-8h6v2zM12 18h4v2h-4zM18 18h4v2h-4zM28 18v8h-6v-2h4v-4h-2v-2zM10 24h4v2h-4zM16 24h4v2h-4zM6 20v4h2v2h-4v-8h6v2zM30 2h-28v28h28v-28zM32 0v0 32h-32v-32h32z"></path>
  </g>
  <symbol id="icon-insert-template" viewBox="0 0 32 32">
    <title>insert-template</title>
    <path d="M12 6h4v2h-4zM18 6h4v2h-4zM28 6v8h-6v-2h4v-4h-2v-2zM10 12h4v2h-4zM16 12h4v2h-4zM6 8v4h2v2h-4v-8h6v2zM12 18h4v2h-4zM18 18h4v2h-4zM28 18v8h-6v-2h4v-4h-2v-2zM10 24h4v2h-4zM16 24h4v2h-4zM6 20v4h2v2h-4v-8h6v2zM30 2h-28v28h28v-28zM32 0v0 32h-32v-32h32z"></path>
    </symbol>
  </defs>
</svg>
</iron-iconset-svg>
<iron-iconset-svg name="my-icons" size="24">
  <svg class="icon icon-insert-template"><use xlink:href="#icon-insert-template"></use></svg>
  <svg>
    <defs>
      <g id="arrow-back">
        <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" />
      </g>
      <g id="menu">
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
      </g>
      <g id="chevron-right">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </g>
      <g id="close">
        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
      </g>

    </defs>
  </svg>
</iron-iconset-svg>
