<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="/src/skill-list-employee-skill-component/skill-list-employee-skill-component.html">
<link rel="import" href="/src/skill-find-component/skill-find-component.html">

<dom-module id="my-view3">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      a.card, div.card {
          margin-bottom: 32px;
          width: calc(100% - 55px);
      }
    </style>

    <div class="card">
      <h1>Buscar personas por skill</h1>
      <skill-find-component on-searchevent="processEvent"></skill-find-component>
      <br>
      <skill-list-employee-skill-component
        id="tablaResultadoPorSkills"
        on-selectpersonevent="processSelectPerson"
        on-selectpersonforprojectsevent="processSelectPersonForProjects"
        >
      </skill-list-employee-skill-component>
      <br>
    </div>
  </template>

  <script>
    class MyView3 extends Polymer.Element {
      static get is() { return 'my-view3'; }
      static get properties() {
        return {
          cargando: Boolean,
          personas: Array,
          page: Number,
          pages: Array,
          parametro:{
            notify:true,
            reflectToAttribute:true,
            observer:'buscar'
          },
          personaSeleccionada:Object,
        }
      }
      processEvent(e) {
        this.$.tablaResultadoPorSkills.txtsearch = e.detail.txtsearch;
      }


      processSelectPerson(e) {
        this.personaSeleccionada = e.detail.persona;
        document.querySelector('my-app').set('route.path', '/personas/'+e.detail.persona.registro);
        document.querySelector("my-app").root.querySelector("my-detapersona").root.querySelector("my-infopersona").inicializa();
        document.querySelector("my-app").root.querySelector("my-detapersona").root.querySelector("my-skillpersona").persona = this.personaSeleccionada;
        document.querySelector("my-app").root.querySelector("my-detapersona").persona = this.personaSeleccionada;
        document.querySelector("my-app").root.querySelector("my-detapersona").mostrarskills = true;
        document.querySelector("my-app").root.querySelector("my-detapersona").mostrarproyectos = false;
      }

      processSelectPersonForProjects(e) {
        this.personaSeleccionada = e.detail.persona;
        document.querySelector('my-app').set('route.path', '/personas/'+e.detail.persona.registro);
        document.querySelector("my-app").root.querySelector("my-detapersona").root.querySelector("my-infopersona").inicializa();
        document.querySelector("my-app").root.querySelector("my-detapersona").root.querySelector("my-project-person").persona = this.personaSeleccionada;
        document.querySelector("my-app").root.querySelector("my-detapersona").persona = this.personaSeleccionada;
        document.querySelector("my-app").root.querySelector("my-detapersona").mostrarskills = false;
        document.querySelector("my-app").root.querySelector("my-detapersona").mostrarproyectos = true;
      }

      static get observers() {
          return ['_itemsChanged(personas,page)']
      }
    }

    window.customElements.define(MyView3.is, MyView3);
  </script>
</dom-module>
