<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-data-table/iron-data-table.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
  <template>
      <style include="shared-styles">
          :host {
            display: block;
            --default-primary-color:#028484;
            padding: 10px;
          }
          a.card, div.card {
              margin-bottom: 32px;
              width: calc(100% - 55px);
          }

          input:-internal-autofill-previewed{
            background:transparent;
          }

          input {
            font: inherit;
          }

          input[readonly] {
            border: 2px solid transparent;
          }


          paper-button{
            background: #028484;
            color:white;
            cursor: pointer;
          }

          vaadin-grid {
            height: auto;
          }

          .header {
            background:#5A9CC5;
            color: white;
          }

          #pages {
            display: flex;
            flex-wrap: wrap;
            margin: 20px;
          }

          #tableEmployeeId{
            /*overflow-y: scroll;*/
            zoom: 80%
          }

          #pages > button {
            user-select: none;
            padding: 5px;
            margin: 0 5px;
            border-radius: 10%;
            border: 0;
            background: #5A9CC5;
            font: inherit;
            outline: none;
            cursor: pointer;
          }

          #pages > button:hover,
          #pages > button:focus {
            color: var(--default-primary-color);
            background-color: #eee;
          }

          #pages > button[selected] {
            font-weight: bold;
            color: white;
            background-color: var(--default-primary-color);
          }

          img{
            cursor:pointer;
            width:40px;
            height: auto;
            vertical-align: middle;
          }
          .icon {
            cursor: pointer;
          }
        </style>
            <div class="card">
                Skill´s
                <paper-input type="search" placeholder="Ingrese descripción skill" value="{{parametro}}"></paper-input>

                <iron-input slot="input" bind-value=""></iron-input>
            <!-- <paper-spinner alt="Cargando..." active="[[cargando]]"></paper-spinner> -->

            <iron-ajax id="buscarIAjax"
              handle-as="json"
              on-response="handleUserResponse"
              on-error="handleUserError"
              last-response="{{skills}}"
              loading="{{cargando}}">
            </iron-ajax>

            <x-array-data-provider items="{{skills}}" size="200"></x-array-data-provider>

            <div style="margin-bottom: 20px">
              <input id="descripcionId" value="{{descripcion::input}}" placeholder="Descripción">
              <input id="detalleId" value="{{detalle::input}}" placeholder="Detalle">
              <!--<button on-tap="_add">Add</button>>-->
              <!-- <img src="{{imgSave}}" on-click="_add" alt="Agregar" title="Agregar"> -->
              <iron-icon icon="iconos-web:bbva-add" on-click="_add" class="icon" title="Agregar"></iron-icon>
            </div>

            <vaadin-grid id="tableSkillId" style="height: auto;" items="{{skills}}" page-size="10">
                <vaadin-grid-column>
                    <!-- <template class="header">Descripción</template> -->
                    <template>
                    <!--<input id="desc-[[index]]" value="{{item.descripcion_skill::input}}" on-input="_storeDesc" readonly$="[[!_isEditing(editing, item)]]">-->
                    <input id="desc-[[index]]" value="{{item.descripcion_skill::input}}" readonly$="[[!_isEditing(editing, item)]]">
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column>
                    <!-- <template class="header">Detalle</template> -->
                    <template>
                    <!--<input id="det-[[index]]" value="{{item.detalle_skill::input}}" on-input="_storeDet" readonly$="[[!_isEditing(editing, item)]]">-->
                    <input id="det-[[index]]" value="{{item.detalle_skill::input}}" readonly$="[[!_isEditing(editing, item)]]">
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column>
                    <!-- <template class="header">Acciones</template> -->
                    <template>
                      <div style="display: flex">
                        <div hidden="[[editing]]">
                          <iron-icon icon="iconos-web:bbva-edit" on-click="_edit" title="Editar" class="icon"></iron-icon>
                        </div>
                        <div hidden="[[editing]]">
                          <iron-icon icon="iconos-web:bbva-trash-active" on-click="setearSkillSeleccionado" title="Eliminar" class="icon"></iron-icon>
                        </div>
                        <div hidden="[[!_isEditing(editing, item)]]">
                          <iron-icon icon="iconos-web:bbva-checkmark" on-click="_save" focus-target$="[[editing]]" title="Guardar" class="icon"></iron-icon>
                        </div>
                        <div hidden="[[!_isEditing(editing, item)]]">
                          <iron-icon icon="iconos-web:bbva-close" on-click="_cancel" title="Cancelar" class="icon"></iron-icon>
                        </div>
                        <!-- <img hidden="[[editing]]" src="{{imgEdit}}" on-click="_edit" alt="Editar" title="Editar">&nbsp;&nbsp; -->
                        <!-- <img hidden="[[editing]]" src="{{imgDelete}}" on-click="setearSkillSeleccionado" alt="Eliminar" title="Eliminar"> -->
                        <!-- <img hidden="[[!_isEditing(editing, item)]]" src="{{imgSave}}" on-click="_save" focus-target$="[[editing]]" alt="Guardar" title="Guardar">&nbsp;&nbsp; -->
                        <!-- <img hidden="[[!_isEditing(editing, item)]]" src="{{imgCancel}}" on-click="_cancel" focus-target$="[[editing]]" alt="Cancelar" title="Cancelar"> -->
                      </div>
                    </template>
                  </vaadin-grid-column>
          </vaadin-grid>
          <div id="pages">
              <button on-click="_prev">&lt;</button>
              <template is="dom-repeat" items="[[pages]]">
                <button on-click="_select" selected$="[[_isSelected(page, item)]]">[[item]]</button>
              </template>
              <button on-click="_next">&gt;</button>
          </div>
        </div>

        <iron-ajax id="postRequestId" method="post" content-type="application/json" handle-as="text"
                on-response="handleUserResponse" on-error="handleUserError" loading="{{cargando}}">
        </iron-ajax>

        <paper-dialog id="validaDialog">
            <h1>Campos necesarios</h1>
            <p>Los campos Descripción y Detalle son necesarios</p>
            <div class="buttons">
              <!--<paper-button dialog-dismiss>Decline</paper-button>-->
              <paper-button dialog-confirm autofocus >Aceptar</paper-button>
            </div>
          </paper-dialog>
          <paper-dialog id="confirmaEliminaDialog">
              <h1>Confirmación</h1>
              <p>¿Está seguro de eliminar el skill {{skillSeleccionado.descripcion_skill}} ?</p>
              <div class="buttons">
                <paper-button dialog-confirm autofocus on-tap="_remove">Aceptar</paper-button>
                <paper-button dialog-dismiss>Cancelar</paper-button>
              </div>
            </paper-dialog>
  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }
      static get properties() {
        return {
          descripcion:{
            type:String,
            value:''
          },
          detalle:{
            type:String,
            value:''
          },
          /*
          descripcion_edit:{
            type:String,
            value:''
          },
          detalle_edit:{
            type:String,
            value:''
          },
          */
          cargando: Boolean,
          skills: Array,
          page: Number,
          pages: Array,
          skillSeleccionado:Object,
          parametro:{
            notify:true,
            reflectToAttribute:true,
            observer:'buscar'
          },
          imgDelete: {
                type: String,
                value: function() {return this.resolveUrl('../images/delete.png')}
            },
          imgSave: {
            type: String,
            value: function () { return this.resolveUrl('../images/save.png') }
          },
          imgCancel: {
            type: String,
            value: function () { return this.resolveUrl('../images/cancel.png') }
          },
          imgEdit: {
            type: String,
            value: function () { return this.resolveUrl('../images/edit.png') }
          },
          editing: Object,
          desc_backup:String,
          det_backup:String,
          item:Object
        }
      }
      static get observers() {
          return ['_itemsChanged(skills,page)']
      }


      buscar(){
        var uri=document.querySelector("my-app").uriBase;
        this.$.buscarIAjax.url = uri+'/skill/'+this.parametro;
        this.$.buscarIAjax.generateRequest();
      }

      handleUserResponse(event) {
        //var response = JSON.parse(event.detail.response);
        var response = event.detail.response;
        console.log(response);
      }

      handleUserError(event) {
        this.error = event.detail.request.xhr.response;
      }

      ready() {
          super.ready();
          this.page = 0;

          this.editing = null;
      }

      /***Paginado**/
      _itemsChanged(skills, page) {
          if (!this.pages) {
            this.pages = Array.apply( null, {length: Math.ceil(skills.length / this.$.tableSkillId.pageSize)} ).map(function(item, index) {
              return index + 1;
            });
          }
          var start = page * this.$.tableSkillId.pageSize;
          var end = (page + 1) * this.$.tableSkillId.pageSize;
          this.$.tableSkillId.items = skills.slice(start, end);
      }

      _isSelected(page, item) {
          return page === item - 1;
        }

        _select(e) {
          this.page = e.model.item - 1;
        }

        _next() {
          this.page = Math.min(this.pages.length - 1, this.page + 1);
        }

        _prev() {
          this.page = Math.max(0, this.page - 1);
        }

        /******CRUD*********/
        /*
        _storeDesc(e) {
          this.descripcion_edit = e.target.value;
        }

        _storeDet(e) {
          this.detalle_edit = e.target.value;
        }
        */

        _isEditing(editing, item) {
          return item === editing;
        }

        _edit(e) {
          var item = e.model.item;
          this.editing = item;
          this.desc_backup = item.descripcion_skill;
          this.det_backup = item.detalle_skill;
          this.$.tableSkillId.querySelector('#desc-' + e.model.index).focus();
        }

        _save(e) {
          var item = e.model.item;
          //item.descripcion_skill= this.descripcion_skill;
          //item.detalle_skill=  this.detalle_skill;
          this.editing = null;
          var uri=document.querySelector("my-app").uriBase+'/skill/'+item._id;
            this.$.postRequestId.body={
              _id:item._id,
              descripcion_skill:item.descripcion_skill,
              detalle_skill:item.detalle_skill
              };
            this.$.postRequestId.url = uri + "?token=" + localStorage.getItem('token');
            this.$.postRequestId.method = 'put';
            this.$.postRequestId.generateRequest().completes.then(function(req){
              document.querySelector("my-app").root.querySelector("my-view2").buscar();
            });
          this.$.tableSkillId.clearCache();
        }

        _cancel(e) {
          this.editing = null;
          //this.$.tableSkillId.querySelector('#desc-' + e.model.index).value = this.desc_backup;
          //this.$.tableSkillId.querySelector('#det-' + e.model.index).value = this.det_backup;
          this.skills[e.model.index].descripcion_skill=this.desc_backup;
          this.skills[e.model.index].detalle_skill=this.det_backup;
          this.descripcion_skill = '';
          this.desc_backup='';
          this.det_backup='';
          this.$.tableSkillId.clearCache();
        }

        _add(e) {
          if (this.descripcion !== '' && this.detalle !== '') {
            //this.skills.unshift({name: {descripcion_skill: this.descripcion, detalle_skill: this.detalle}});
            this.$.tableSkillId.clearCache();
            var uri=document.querySelector("my-app").uriBase+'/skill';
            this.$.postRequestId.body={descripcion_skill:this.descripcion,detalle_skill:this.detalle};
            this.$.postRequestId.url = uri + "?token=" + localStorage.getItem('token');
            this.$.postRequestId.method = 'post';
            this.$.postRequestId.generateRequest().completes.then(function(req){
              document.querySelector("my-app").root.querySelector("my-view2").buscar();
            });
            this.descripcion = '';
            this.detalle = '';

          } else {
            this.$.validaDialog.open();
          }
        }

        setearSkillSeleccionado(e){
          this.skillSeleccionado = e.model.item;
          this.$.confirmaEliminaDialog.open();
        }

        _remove() {
          var index = this.skills.indexOf(this.skillSeleccionado);
          this.skills.splice(index, 1);
          var uri=document.querySelector("my-app").uriBase+'/skill/'+this.skillSeleccionado._id;
          this.$.postRequestId.body={_id:this.skillSeleccionado._id};
          this.$.postRequestId.method = 'delete';
          this.$.postRequestId.url = uri + "?token=" + localStorage.getItem('token');
          this.$.postRequestId.generateRequest().completes.then(function(req){
            document.querySelector("my-app").root.querySelector("my-view2").buscar();
          });

          this.skillSeleccionado = null;
          this.$.tableSkillId.clearCache();
        }
    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
