<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-data-table/iron-data-table.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="/src/skill-find-component/skill-find-component.html">
<link rel="import" href="/src/skill-list-employee-component/skill-list-employee-component.html">
<link rel="import" href="/src/skill-list-employee-skill-component/skill-list-employee-skill-component.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        --default-primary-color:#028484;
        padding: 10px;
      }

      a.card, div.card {
          margin-bottom: 32px;
          width: calc(100% - 55px);
      }

      input:-internal-autofill-previewed{
        background:transparent;
      }

      paper-button{
        background: #028484;
        color:white;
        cursor: pointer;
      }

      vaadin-grid {
        height: auto;
      }

      .header {
        background:#5A9CC5;
        color: white;
      }

      #pages {
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
      }

      #tableEmployeeId{
        /*overflow-y: scroll;*/
        zoom: 80%
      }

      #pages > button {
        user-select: none;
        padding: 5px;
        margin: 0 5px;
        border-radius: 10%;
        border: 0;
        background: #5A9CC5;
        font: inherit;
        outline: none;
        cursor: pointer;
      }

      #pages > button:hover,
      #pages > button:focus {
        color: var(--default-primary-color);
        background-color: #eee;
      }

      #pages > button[selected] {
        font-weight: bold;
        color: white;
        background-color: var(--default-primary-color);
      }

      img{
        cursor:pointer;
        width:40px;
        height: auto;
        vertical-align: middle;
      }
    </style>

    <div class="card">
      <h1>Buscar personas</h1>
      <skill-find-component on-searchevent="processEvent"></skill-find-component>
      <br>
      <skill-list-employee-component
        on-selectpersonevent="processSelectPerson"
        on-selectpersonforprojectsevent="processSelectPersonForProjects"
        id="tablaResultadoEmpleados"
        >
      </skill-list-employee-component>
      <br>
    </div>

  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }
      static get properties() {
        return {
          cargando: Boolean,
          personas: Array,
          page: Number,
          pages: Array,
          parametro:{
            notify:true,
            reflectToAttribute:true,
            observer:'buscar'
          },
          personaSeleccionada:Object,
        }
      }

      processEvent(e) {
        this.$.tablaResultadoEmpleados.txtsearch = e.detail.txtsearch;
      }

      processSelectPerson(e) {
        this.personaSeleccionada = e.detail.persona;
        document.querySelector('my-app').set('route.path', '/personas/'+e.detail.persona.registro);
        document.querySelector("my-app").root.querySelector("my-detapersona").root.querySelector("my-infopersona").inicializa();
        document.querySelector("my-app").root.querySelector("my-detapersona").root.querySelector("my-skillpersona").persona = this.personaSeleccionada;
        document.querySelector("my-app").root.querySelector("my-detapersona").persona = this.personaSeleccionada;
        document.querySelector("my-app").root.querySelector("my-detapersona").mostrarskills = true;
        document.querySelector("my-app").root.querySelector("my-detapersona").mostrarproyectos = false;
      }

      processSelectPersonForProjects(e) {
        this.personaSeleccionada = e.detail.persona;
        document.querySelector('my-app').set('route.path', '/personas/'+e.detail.persona.registro);
        document.querySelector("my-app").root.querySelector("my-detapersona").root.querySelector("my-infopersona").inicializa();
        document.querySelector("my-app").root.querySelector("my-detapersona").root.querySelector("my-project-person").persona = this.personaSeleccionada;
        document.querySelector("my-app").root.querySelector("my-detapersona").persona = this.personaSeleccionada;
        document.querySelector("my-app").root.querySelector("my-detapersona").mostrarskills = false;
        document.querySelector("my-app").root.querySelector("my-detapersona").mostrarproyectos = true;
      }

      static get observers() {
          return ['_itemsChanged(personas,page)']
      }
    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
